.section-block {
	display: flex;
	width: 100%;
}

.section-block--spaced {
	justify-content: space-between;
}

.space-section-block {
	position: relative;
	margin-top: 200px;
	width: 100%;
	height: 400px;
}

.rotated-text {
	position: absolute;
	/* left: -1%; */
	transform: rotate(90deg) translateY(-30%);
	transform-origin: left center;
	white-space: nowrap;
	font-family: "Helvetica Neue Thin";
	font-size: 96px;
	text-align: center;
}
.banner-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 25px;
	margin-right: 10px;
}

.banner-photo img {
	width: 100%;
}

.banner-text {
	display: flex;
	flex-direction: column;
	font-family: "Helvetica Neue Thin";
	margin-left: 20px;
	margin-right: 40px;
}

h2 {
	font-size: 48px;
	font-weight: 100;
	font-family: "Helvetica Neue Thin";
}

.banner-text nav {
	display: flex;
	justify-content: flex-end;
	border-bottom-color: #010101;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.banner-text nav ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-right: 60px;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	margin: 10px 0;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

.text-about {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}

.text-about h2 {
	font-family: "Helvetica Neue Thin";
	line-height: 1;
	padding: 0px 0px 20px 20px;
	margin-top: 0px;
}

.text-head--underlined {
	border-bottom: 2px solid #010101;
}

.text-about h3 {
	font-family: "Helvetica Neue Thin";
	font-size: 24px;
	font-weight: 100;
}