.merch-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	font-family: "Helvetica Neue Thin";
	width: 100%;
	height: 1076px;
	overflow: hidden;
}
.border-text {
	position: absolute;
	color: #6642DA;
	writing-mode: vertical-rl;
	font-size: 96px;
	font-weight: 100;
	white-space: nowrap;
	line-height: 1;
	margin: -9px 0 0px -16px;
}
.merch-section h1 {
	color: #6642DA;
	font-size: 96px;
	margin: 40px 0 20px 0;
}

.merch-section h3 {
	font-size: 24px;
}

.merch-text {
	position: absolute;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.merch-text.right {
	top: 50%;
	right: 0;
	transform: rotate(90deg) translateY(-50%);
	transform-origin: center right;
	height: 100%;
}

.merch-text.left {
	top: 50%;
	left: 0;
	transform: rotate(-90deg) translateY(-50%);
	transform-origin: center left;
	height: 100%;
}