.section-work {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: black;
	color: white;
}
.work-section-header-text h1{
	color: black;
	font-family: "Helvetica Neue Thin";
	font-size: 96px;
	font-weight: 100;
	margin: 0 0 -21px 20px;
}
.work-block {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 25px;
	margin-right: 10px;
	padding: 120px 0px 60px 0px;
}

.work-photo img {
	width: 100%;
}

.work-photo {
	position: relative;
	width: 100%;
	/* max-width: 400px; */
	overflow: hidden;
}

.photo-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 0px;
	margin: 0;
}

.photo-title {
	color: white;
	font-size: 96px;
	margin: 0 0 -15px -8px;
	line-height: 1;
}

.photo-number {
	position: absolute;
	top: -2%;
	left: -1%;
	color: #6642DA;
	font-size: 96px;
	margin: 0;
}

.work-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-family: "Helvetica Neue Thin";
	width: 40%;
	margin-left: 20px;
	margin-right: 40px;
}

.work-text h3 {
	font-weight: 100;
	font-size: 24px;
	font-family: "Helvetica Neue Thin";
}
.work-text h4 {
	font-weight: 100;
	font-size: 24px;
	font-family: "Helvetica Neue Thin";
}